
body{
	text-align: center;
}

canvas {

	background-color: black;
	
}

body button {
  font-size: 20px;
  background-color: purple;
  color: red;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  position: absolute;
  right: 650px
  
}
