
body{
  margin: 0 auto;
  text-align: center;
  background-color: black;
}

canvas {
  
	background-color: black;
  position: absolute;

}

h1 {
  color: white;

}

  .start-button{
    margin-top: 12%;
    cursor: pointer;
 }

 .canvas {
   display: flex;
   justify-content: center;
   
 
 }

 .start-button.try-again {
   width:150px;
   height: 150px;
   margin: 0 auto 0 auto;
 }

 .score{
  font-family: 'Roboto', sans-serif;
   color: white;
   position: absolute;
   top: 93%;
   left: 25%;
 }
h1{
  font-size: 23px;
}

 span {

 }

